@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  /* SECTION header */
  /* !SECTION header */
}
body img.fixed-image {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  bottom: 0;
  left: 0;
}
body header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* SECTION section class="logo" */
  /* SECTION nav */
  /* !SECTION nav */
}
body header section.logo {
  flex: 2 1 400px;
  display: flex;
  align-items: center;
  /* SECTION img src="./images/網站Logo.svg" alt="日本旅遊網Logo"  */
  /* SECTION h1 */
  /* !SECTION h1 */
  /* !SECTION section */
}
body header section.logo img {
  width: 6vw;
  height: 6vw;
}
body header nav {
  flex: 5 1 500px;
  /* SECTION ul */
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  /* SECTION li */
  /* SECTION li */
  /* SECTION a href="#"
         */
  /* SECTION i class="fa-solid fa-right-to-bracket" */
  /* !SECTION i */
  /* !SECTION a
       */
  /* !SECTION li */
  /* SECTION li */
  /* SECTION a href="#" */
  /* SECTION i class="fa-solid fa-book" */
  /* !SECTION i */
  /* !SECTION a */
  /* !SECTION li */
  /* SECTION li */
  /* SECTION a href="#" */
  /* SECTION i class="fa-regular fa-address-book" */
  /* !SECTION i */
  /* !SECTION a */
  /* !SECTION li */
  /* !SECTION ul */
}
body header nav ul li {
  /* SECTION a href="#" */
  /* !SECTION li */
}
body header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.35rem;
  transition: all 0.2s ease;
  padding-bottom: 0.3rem;
  /* SECTION i class="fa-solid fa-plane" */
  /* !SECTION i */
  /* !SECTION a */
}
body header nav ul li a:hover {
  color: rgba(152, 57, 255, 0.5);
  border-bottom: 3px solid rgba(152, 57, 255, 0.5);
}

main {
  /* SECTION background-img */
  /* !SECTION background-img */
  /* SECTION info-circles */
  /* !SECTION info-circles */
  /* SECTION empty-container */
  /* !SECTION empty-container */
}
main section.background-img {
  min-height: 70vh;
  background-image: url(../images/日本櫻花.jpg);
  background-size: cover;
  background-position: center;
  transition: all 0.75s ease;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.background-img div.filter {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
main section.background-img h3 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
main section.info-circles {
  background-color: white;
  padding: 2rem 1rem;
}
main section.info-circles h3 {
  text-align: center;
  font-size: 2rem;
}
main section.info-circles div.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main section.info-circles div.circles div.circle {
  padding: 1rem;
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.info-circles div.circles div.circle img {
  width: 80%;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  padding: 0.3rem;
}
main section.info-circles div.circles div.circle img:hover {
  border: 3px solid rgba(152, 57, 255, 0.5);
}
main section.info-circles div.circles div.circle p {
  align-self: center;
  padding: 0.2rem;
}
main section.empty-container {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.empty-container h3 {
  font-size: 2rem;
  color: white;
}
main section.google-map {
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
}
main section.google-map h3 {
  font-size: 2.5rem;
}
main section.google-map p {
  font-size: 1.25rem;
  margin: 1rem;
}
main section.google-map iframe {
  width: 100%;
  height: 40vh;
}

footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
footer section.Logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer section.Logo img {
  width: 20vw;
}
footer section.Logo h3 {
  font-size: 2.5rem;
}
footer section.Links {
  margin-top: 2rem;
}
footer section.Links a img {
  width: 5vw;
  margin: 0rem 1rem;
}

@media screen and (max-width: 700px) {
  body header section.logo {
    flex-direction: column;
  }
  body header section.logo img {
    width: 50vh;
    height: 50vh;
  }
  body header nav ul {
    flex-direction: column;
  }
  body header nav ul li {
    padding: 0.5rem 0.25rem;
  }
  footer section.Links {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer section.Links a {
    flex: 0 1 34.3vw;
  }
  footer section.Links a img {
    width: 8vw;
    margin: 2rem 2rem 2rem 4rem;
  }
}/*# sourceMappingURL=style.css.map */